[submodule ".registry"]
	path = .registry
	url = https://github.com/aphalo/aphalo.r-universe.dev
	branch = HEAD
[submodule "SunCalcMeeus"]
	path = SunCalcMeeus
	url = https://github.com/aphalo/SunCalcMeeus
[submodule "gginnards"]
	path = gginnards
	url = https://github.com/aphalo/gginnards
[submodule "ggpmisc"]
	path = ggpmisc
	url = https://github.com/aphalo/ggpmisc
[submodule "ggpp"]
	path = ggpp
	url = https://github.com/aphalo/ggpp
[submodule "ggspectra"]
	path = ggspectra
	url = https://github.com/aphalo/ggspectra
[submodule "learnrbook"]
	path = learnrbook
	url = https://github.com/aphalo/learnrbook-pkg
[submodule "ooacquire"]
	path = ooacquire
	url = https://github.com/aphalo/ooacquire
[submodule "photobiology"]
	path = photobiology
	url = https://github.com/aphalo/photobiology
[submodule "photobiologyFilters"]
	path = photobiologyFilters
	url = https://github.com/aphalo/photobiologyFilters
[submodule "photobiologyInOut"]
	path = photobiologyInOut
	url = https://github.com/aphalo/photobiologyInOut
[submodule "photobiologyLEDs"]
	path = photobiologyLEDs
	url = https://github.com/aphalo/photobiologyLEDs
[submodule "photobiologyLamps"]
	path = photobiologyLamps
	url = https://github.com/aphalo/photobiologyLamps
[submodule "photobiologyPlants"]
	path = photobiologyPlants
	url = https://github.com/aphalo/photobiologyPlants
[submodule "photobiologySensors"]
	path = photobiologySensors
	url = https://github.com/aphalo/photobiologySensors
[submodule "photobiologySun"]
	path = photobiologySun
	url = https://github.com/aphalo/photobiologySun
[submodule "photobiologyWavebands"]
	path = photobiologyWavebands
	url = https://github.com/aphalo/photobiologyWavebands
[submodule "rOmniDriver"]
	path = rOmniDriver
	url = https://github.com/aphalo/rOmniDriver
[submodule "rYoctoPuceAPI"]
	path = rYoctoPuceAPI
	url = https://github.com/aphalo/rYoctoPuceAPI
[submodule "rYoctoPuceInOut"]
	path = rYoctoPuceInOut
	url = https://github.com/aphalo/rYoctoPuceInOut
[submodule "surfaceuv"]
	path = surfaceuv
	url = https://github.com/aphalo/surfaceuv
